* {
    margin: auto;
}

.checkerPosition, .notAllowed {
    background-color: burlywood;
    width: 65px;
    height: 65px;
    text-align: center;
}


.notAllowed {
    background-color: darkolivegreen;
}

.checker.black {
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: black;
    border: 1px solid white;
    border-radius: 50px;
}

.checker.white {
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50px;
}